.main h4{
    margin-bottom: 24px;
}
.main h5{
    margin-bottom: 16px;
}
.main p+p{
    margin-top: 16px;
}

.main li+li{
    margin-top: 12px;
}

.banner {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week1/hero.png?raw=true);
    background-repeat: no-repeat;
    background-size: cover;
    /* 讓圖片置中 */
    background-position: center;
    text-align: center;
    padding: 150px 0;
    color: var( --color-neutral-0);
}

.block-quote{
    margin-left: 110px;
    margin-right: 110px;
    background-color: var(--color-primary-100);
    text-align: center;
    border-radius: var(--radius-md);
}
.block-quote p+p{
    margin-top: 4px;
}

.article .section{
    padding-bottom: 48px;
    margin-left: 110px;
    margin-right: 110px;
    border-bottom: solid 1px var(--color-neutral-300);
}
.section+ .section{
    padding-top: 48px;
}

.history-list{
    list-style: disc;
    padding-left: 24px;
}
.history-list time{
    border-right: 1px solid var(--color-neutral-900);
}

.brand-concept-list li{
    padding-left: 10px;
    border-left: 3px solid var(--color-neutral-300);
}

.link-primary{
    color: var(--color-primary-400);
    padding-top: 8px;
    padding-bottom: 8px;
}
.link-primary span{
    border-bottom: 1px solid;
}
.link-primary:hover{
    color: var(--color-primary-500);
}

.link-primary:focus span{
    border-bottom: 2px solid;
}

.link-primary:disabled{
    opacity: 40%;
}